.card-title {
    text-align: center;

}

#boton-catalogo {


    margin-left: 225px;


}

#footer-catalogo {

    padding-right: 170px;

}

.catalogo {
    padding-top: 0px;
    padding-right: 280px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.card-text {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: center;

}